/* Table of Content
==================================================
	#BASIC TYPOGRAPHY
	#HOME HEADER
  #BANNER
  #ABOUT US GRID
  #OUR TESTIMONIALS
  #HIGHLIGHTS 
  #FOOTER 
*/


/*--------------------*/
/* BASIC TYPOGRAPHY */
/*--------------------*/
html{
  height: 100%;
}

body,html{
  overflow-x:hidden;
}
body {
  font-family: 'Merriweather', serif;
  overflow-x: hidden !important;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  padding-top: 20px;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

a{ 
  text-decoration: none;
  color: #2f2f2f;
  
}
a:focus{
  outline: none;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Varela', sans-serif;	
}

h2 {
  color: #313338;  
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
  margin: 0;
  padding-bottom: 10px;  
}
img{
 border:none;
}

/* Preloader */
#preloader {
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#000; /* change if the mask should have another color then white */
  z-index:99999; /* makes sure it stays on top */
}

#status {
  width:200px;
  height:200px;
  position:absolute;
  left:50%; /* centers the loading animation horizontally one the screen */
  top:50%; /* centers the loading animation vertically one the screen */
  background-image:url(img/status.GIF); /* path to your loading animation */
  background-repeat:no-repeat;
  background-position:center;
  margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/*scrol to top*/

.scrollToTop {
  background: url("img/bootom-top-arrow.png") no-repeat scroll 13px 12px #ffffff;
  border: 3px solid #f0f1f3;
  border-radius: 5px;
  bottom: 20px;
  display: inline-block;
  height: 54px;
  opacity: 0;
  position: fixed;
  right: 20px;
  text-align: center;
  width: 54px;
  z-index: 100;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}
.scrollToTop:hover{
  background-position: 13px -50px;  
  text-decoration: none;
  outline: none;
}

/*--------------------*/
/* HOME HEADER */
/*--------------------*/
#header{
	float: left;
	display: inline;
	width: 100%;
  background-color: #323232;	
}
/*--------.menu_area-------- */
.menu_area{
  float: left;
  display: inline;
  width: 100%;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  margin-top: 15px; 
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  background-color: transparent;
  color: #fff;
}
.navbar-default {
  background-color: #8e44ad;
  border-color: transparent;
}
#navbar{overflow-x: hidden;}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  padding: 30px 15px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: transparent;
}
.navbar-nav > li > .dropdown-menu {
  background-color: #48575a; 
}
.navbar-nav > li > .dropdown-menu:before { 
  border-bottom: 15px solid #48575a; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: 25px;
  top: -15px;
  width: 0;
}
.navbar-nav > li > .dropdown-menu li a {
  border-bottom: 1px dotted rgba(255, 255, 255, 0.3);
  color: #fff;
  display: block;  
  opacity: 0.8;
  padding: 10px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navbar-nav > li > .dropdown-menu > li:last-child a {
  border-bottom: medium none;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color:transparent;  
  text-decoration: none;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
  background-color: transparent;  
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
}
/*--------------------*/
/* BANNER SECTION */
/*--------------------*/
.banner-area{
  padding: 20px 0;
  margin: 20px 0 0 0;
  height: 490px;
  width: 100%;
  text-align: center;
  position: relative;
  background-color:  #273746;
  -webkit-background-size: cover;
  background: linear-gradient(to bottom right,  #273746, #3498db);
  /*background: linear-gradient(to bottom right,  #1f618d,  #7fb3d5);*/
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}
.banner-area h2{
  padding-top: 6%;
  font-size: 70px;
  font-family: poppins;
  text-transform: uppercase;
  color: #fff;
}

/*--------------------*/
/* HOME ABOUT US SECTION */
/*--------------------*/
.heading1 h1{
  text-align: center;
  font-size: 32px;

}

.heading2 h1{
  text-align: center;
  font-size: 32px;

}
.about-us-area{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 10px;
  width: 100%;
  margin: 0 auto;
  background-color:  #f0f1f3;
  padding: 32px;
  grid-template-areas:
  "img1 text1"
  "text2 img2";
}
.about-us-area > *{
  padding: 20px;
  text-align: center;
}
.about-us-area img{
  height: 200px;
  left: 0;
  margin-top: -75px;
  top: 50%;
  width: 300px;
  position: relative;
  object-fit: cover;  
}
.about-row-1-img{
  grid-area: img1;
}
.about-row-2-img{
  grid-area: img2;
}
.about-row-1-text{
  grid-area: text1;
}
.about-row-2-text{
  grid-area: text2;
}
/*--------------------*/
/* TESTIMONIAL SECTION */
/*--------------------*/
.testimonial-area{
  padding: 80px 0;
  position: relative;
  background-color: #ebdef0;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}
.testimonial-area:before{
  position: absolute;
  content: '';
  background: #ebdef0;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;

}
.testimonial-area p{
  text-align: center;
  font-weight: 240px;
  position: relative;
  margin-top: 0;
  padding-bottom: 50px;
  font-size: 50px;
}
.single-testimonial{
  color: #fff;
  padding-left: 75px;
  position: relative;
  margin: 0 15px 15px;
}
.single-testimonial-img-area{
  border-radius: 50%;
  height: 150px;
  left: 0;
  margin-top: -75px;
  position: absolute;
  top: 50%;
  width: 150px;
}
.testi-text{
  /*background: #FFFF4A;*/
  background: #8e44ad;  
  padding: 40px 20px 40px 100px;
  color: #fff;
}
.single-testimonial-img-area > img{
  background: linear-gradient(to bottom,  #4a235a, white);
  border-radius: 50%;
  padding: 5px;
}
.testi-text h4{
  font-size: 30px;
  margin-bottom: 30px;
  font-family: Valera;
}
.testi-text h4 span{
  display: block;
  font-size: 14px;
}
.testi-text p{
  font-family: Cougrette;
  line-height: 25px;
  font-size: 18px;
}
.single-testimonial:hover .testi-text{
  background:  #4a235a;
  transition: 0.9s;
}
.testimonial-area div.owl-nav{
  color: #FFFF4A;
  display: inline-block;
  font-size: 55px;
  height: 60px;
  margin-top: -30px;
  text-align: center;
  width: 40px;
  transition: 0.3s;
}
.owl-prev, .owl-next{
  position: absolute;
}
.owl-prev{
  left: -20px;
  top: 80px;
}
.owl-next{
  right: -20px;
  top: 80px;
}
/*--------------------*/
/* HIGHLIGHTS SECTION */
/*--------------------*/
.highlight-box-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.single-highlight{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  border-radius: 4px;
  background-color: #fff;
  background: #ebdef0;
  text-align: center;
  margin: 20px;
  padding: 20px;
  transition: .3s;
}
.single-highlight:hover{
  background:  #6c3483;
  color: #fff;
}
.highlight-img{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border:  6px solid #ddd;
  border-radius: 50%;
  margin-bottom: 10px;
  padding: 20px;
  position: ;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.highlight-text{
  font-family: poppins;
}
.highlight-text p{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.highlight-header-text{
  font-size: 24px;
  font-weight: 500;
  line-height: 48px;
}
/*--------------------*/
/* FOOTER SECTION */
/*--------------------*/

*,*:before,*:after{
  box-sizing: border-box;
} 

footer{
  margin-top: auto;
  font-family: 'Merriweather';
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;
  padding: 25px;
  color: #fff;
  background-color:  #7d3c98;
}

.footer > *{
  flex: 100%;
}
.footer ul{
  list-style: none;
  padding-left: 0px;
}
.footer li{
  line-height: 2em;
}
.footer a{
  text-decoration: none;
}
.footer span{
  color: rgb(29, 202, 255);
}
.footer-right{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row wrap;  
}
.footer-right > *{
  flex: 50%;
  margin-right:1.25em;
}
.footer-right h2{
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}
.imp-links a{
 font-size: 15px;
  font-weight: bold;  
}
.imp-links a:hover::before{
  color: #fff; 
}
.imp-links a:hover::after{
  color: #fff; 
}
.footer-right img{
  width: 25%;
}

.footer-left{
  padding-left: 50px;
  margin-bottom: 2em;
  margin-right: 0.5em;

}
.socials p{
  padding-left: 10px;
}
.socials a i{
  color: #fff;
  width: 10%;
  padding: 12px 12px;
}
.socials a[title]{
  font-family: poppins;
  color: #fff;
  font-size: 25px;
  font-weight: bold;

}
.hovicon {
    cursor: pointer;
    font-size: 14px;
    border-radius: 50%;
    margin: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    position: relative;
    text-decoration: none;
    z-index: 1;
}
 .hovicon.effect-2 {
    /*color: #eea303;*/
    color: rgb(29, 202, 255);
    box-shadow: 0 0 0 3px #fff;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
}
.hovicon.effect-2:after {
    top: -2px;
    left: -2px;
    padding: 2px;
    z-index: -1;
    background: #fff;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
}
/* Effect 2b */
 .hovicon.effect-2.sub-b:hover:after {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
    -webkit-transition: -webkit-transform 0.4s, opacity 0.2s;
    -moz-transition: -moz-transform 0.4s, opacity 0.2s;
    transition: transform 0.4s, opacity 0.2s;
}
.hovicon.effect-2.sub-b:hover, .hovicon.effect-2.sub-b:hover i {
    color: #fff;
}
/*Effects end here*/

.box a{
  color: #999;
}
.footer-bottom{
  text-align: center;
  color: #fff;
  background-color:  #2e4053; 
  padding-top: 2px;
  margin-top: 10px;
}


/*--------------------*/
/* RESPONSIVE SECTION */
/*--------------------*/

/*-- Responsive About Us --*/
@media screen and (max-width: 600px){
    .about-us-area{
      grid-template-columns: 1fr;
      grid-template-areas:
      "img1"
      "text1"
      "img2" 
      "text2";
    }
}

/*-- Responsive Banner --*/
@media only screen and (max-width: 767px){
  .banner-area{
    height: 200px;
  }
  .banner-area h2{
    font-size: 20px;
    /*padding: 5px;*/
    letter-spacing: 4px;
    line-height: 10px;
  }
}
/*-- Responsive Testimonial --*/
@media only screen and (max-width: 767px){
  .testimonial-area{
    padding: 15px 0;
  }
  .testimonial-area p{
    padding-bottom: 10px;
    font-size: 20px;
  }
  .single-testimonial{
    padding-left: 0;
    padding-top: 75px;
  }
  .single-testimonial-img-area{
    left: 50%;
    margin-left: -75px;
    top: 75px;
  }
  .testi-text{
    padding: 80px 25px 25px;
  }
  .testi-text h4{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .testi-text p{
    font-size: 16px;
  }
  .owl-prev{
    left: -10px;
    top: 150px;
  }
  .owl-next{
    right: -10px;
    top: 150px;
  }
}


/*-- Responsive Footer --*/
@media screen and (min-width: 600px){
  .footer-right > *{
    flex: 1;
  }
  .footer-center{
    text-align:center;
  }
  .footer-left{
    flex: 1 0px;
    margin-top:20px;
  }
  .footer-right{
    flex: 2 0px;
    margin-left:40px;
    text-align:right;
    margin-top:30px;
  }
  .socials{
    text-align:center;
    margin-top:60px;
  }
  
  
}

@media (max-width: 600px){
  .footer{
    padding: 15px;
  }
  .footer-left{
    padding-left: 0px;
  }
  .socials p{
  padding-left: 0px;
  text-align:center;
  }
}